<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armadillo Competition</title>
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
</head>
<body>
    <div class="header">
        <h1>Armadillo Competition</h1>
    </div>
    <h3 class="point-holder">
        Score: {{points}}pts
    </h3>

    <div class="col">
        <div class="gamebox">
            <ul>
                <li>Speed Counter</li>
                <li>Shuffle the E's</li>
                <li class="on-now">An Eye for Numbers</li>
                <li>Odd One Out</li>
                <li>MasterMind</li>
                <li>Rock, Paper, Scissors</li>
            </ul>
        </div>

        <div class="lave centerize">
            <h3 class="bigger push2">{{long_number}}</h3>
        </div>
    </div>
</body>
</html>
<script>
    function timeup() {
        window.location.assign('/armadillo_competition/an_eye_for_numbers/guess');
    }

    function ten_time() {
        setTimeout(timeup, 3000)
    }

    ten_time()
</script>