<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armadillo Competition</title>
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}"> 
</head>
<body>
    <div class="header">
        <h1>Armadillo Competition</h1>
    </div>
    <h1 class="cool">"Your Inner Nerd"</h1>
</body>
<script>
    // tps://superheroapi.com/api/access-token/character-id/image
</script>
</html>