<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armadillo Competition</title>
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
</head>
<body>
    <div class="header">
        <h1>Armadillo Competition</h1>
    </div>
    <h3 class="point-holder">
        Score: {{points}}pts
    </h3>

        <!-- PRESENT THE THREE E'S SHOWN -->
        <div class="col">
            <div class="gamebox">
                <ul>
                    <li>Speed Counter</li>
                    <li class="on-now">Shuffle the E's</li>
                    <li>An Eye for Numbers</li>
                    <li>Odd One Out</li>
                    <li>MasterMind</li>
                    <li>Rock, Paper, Scissors</li>
                </ul>
            </div>

            <div class="lave">
            <h3 id="second" class="bigger push"></h3>
            </div>
        </div>
</body>
</html>
<script>
    function shuffle() { 

            document.getElementById('second').innerText="{{letters}}"; //Prints out the shufflin'
            setTimeout(question_two, 250)

        }
        
    function question_two() {
        window.location.assign('/test'); // Takes you to the "You lose" page
    }

    shuffle()
    
</script>