<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armadillo Competition</title>
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}"> 
</head>
<body>
    <div class="header">
        <h1>Armadillo Competition</h1>
    </div>

    <div class="center-txt no-ph sans">
        <h1 class="sans">I'm sorry</h1>
        <h3>The page is currently unaviable at the time</h3>
        <h3>Hopefully it'll be up and running in the future</h3>
    </div>

    <form action="/"> <!-- Button to go home -->
        <button class="agree full" type="submit">Home</button>
    </form>
</body>
</html>